<button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary position-button" autocomplete="off" ng-click="loadCategories=true">
  Show Categories Of Books 
</button>

<!-- <div ng-include="'views/main.html'"></div> -->
<div ng-include="viewLoad()"></div>
<!-- <div ng-if="loadCategories" ng-include="'views/main.html'"></div> -->
<!-- <div ng-include="loadCategories ? 'views/main.html' : null"></div> -->
<!-- <span ng-switch on="loadCategories">
   <div ng-switch-when="true" ng-include="'views/main.html'"></div>
   <div ng-switch-default>default</div>
</span> -->

