<button type="button" id="myButton" data-loading-text="Loading..." class="btn btn-primary position-button back-button" autocomplete="off" ng-click="goBack()">
  Back
</button>
<div class="style-table">
 <table class="table table-hover ">
   <caption style="font-size:30px">Details for {{edition}} edition</caption>
   <thead>
      <tr>
         <th>Total no of books</th>
         <th>Books issued</th>
         <th>Books left</th>
      </tr>
   </thead>      
   <tbody>
      <tr>
         <td>20</td>
         <td>5</td>
         <td>10</td>
      </tr>
   </tbody>
 </table>
</div>