<div class="style-table">
<table class="table table-hover ">
   <caption style="font-size:30px">Books On Fiction</caption>
   <thead>
      <tr>
         <th>Sr No</th>
         <th>Name of the book</th>
         <th>Author</th>
         <th>select a copy</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>1</td>
         <td>Deception Point</td>
         <td>Dan Brown</td>
          <td> <div class="dropdown">
  <button id="dLabel" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Select Edition
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
    <li>
      <a ng-href="/#details/2000">2000 edition</a>
    </li>
    <li>
      <a ng-href="/#details/2009">2009 edition</a>
    </li>
    <li>
      <a ng-href="/#details/2013">2013 edition</a>
    </li>
    <li>
      <a ng-href="/#details/2015">2015 edition</a>
    </li>
  </ul>
</div></td>
      </tr>
      <tr>
         <td>2</td>
         <td>Kane and Able</td>
         <td>jeffrey archer</td>
         <td><a ng-href="/#KanenAble">show details</a></td>
      </tr>
      <tr>
         <td>3</td>
         <td>The Monk Who Sold His Ferrari</td>
         <td>Robin S Sharma</td>
         <td><a ng-href="/#TheMonk">show details</a></td>
      </tr>
    
   </tbody>
</table>
</div>