<div class="container">
      <span class="jumbotron ">
        
<div class="collection">  
    <div class="row"> 
  <div class="fiction col-sn-3" >
    <a ng-href="#/fiction">FICTION</a>
  </div>
  <div class="non-fiction col-sm-3">
    <a >NON-FICTION</a>
  </div>
  <div class="languages col-sm-3">
    <a >LANGUAGES</a>
  </div>
  <div class="magazines col-sm-3">
    <a >MAGAZINES</a>
  </div>
 </div> 
 <div class="row">
  <div class="newspapers col-sm-3">
    <a>NEWSPAPERS</a>
  </div>
  <div class="curriculum col-sm-3">
    <a >CURRICULUM</a>
  </div>
  <div class="journals col-sm-3">
    <a >JOURNALS</a>
  </div>
  <div class="general-knowledge col-sm-3">
    <a >GENERAL-KNOWLEDGE</a>
  </div> 
</div>
</div>
      </span>
    </div>
